################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/.vs/Compass/v15/Server/sqlite3/storage.ide-wal
/.vs/Compass/v15/Server/sqlite3/storage.ide-shm
/.vs/Compass/v15/Server/sqlite3/storage.ide
/.vs/Compass/v15/Server/sqlite3/db.lock
*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
