################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
